#First the input data:
/maps/projects/kilpelainen-AUDIT/people/zlc436/PCOS_2026/output/2_replicating_liu_et_al/3_reverse_mr/0_ld_clumping/data_4_clumping/pcos_consortium_4_clumping.txt
#Now the ID of your files:
pcos_consortium_2026
#Now the output:
/maps/projects/kilpelainen-AUDIT/people/zlc436/PCOS_2026/output/2_replicating_liu_et_al/3_reverse_mr/0_ld_clumping/clumped_data
#Now the working directory:
/maps/projects/kilpelainen-AUDIT/people/zlc436/PCOS_2026/output/2_replicating_liu_et_al/3_reverse_mr/0_ld_clumping/qsub_files
#Now the main p-value threshold that you want to use:
5e-08
#Now the p-value for secondary signals:
1
#Finally, the rsq threshold that you want to use:
0.01
#Now the distance in kb:
1000


